@using Linko.LinkoExchange.Core.Enum
@model Linko.LinkoExchange.Web.ViewModels.Shared.FileVersionFieldViewModel

@Scripts.Render(paths:"~/bundles/jquery")

<style>
    .form-control
    {
        padding: 2px 8px;
    }

    .form-horizontal .control-label
    {
        padding-bottom: 6px;
        padding-top: 10px;
    }

    input[type='checkbox']
    {
        height: 16px;
        margin: 6px 0;
        width: 16px;
    }

    .form-control[disabled], input[type='checkbox'][disabled]
    {
        cursor: text;
    }
</style>

<section class="box-body form-horizontal" style="width: 97%;">

    @Html.HiddenFor(model => model.FileVersionFieldId)

    <div class="col-md-12">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FileVersionFieldName, htmlAttributes:new
                                                                               {
                                                                                   @class = "control-label col-md-3"
                                                                               })

            <div class="col-md-7">
                @Html.EditorFor(model => model.FileVersionFieldName, additionalViewData:new
                                                                                        {
                                                                                            htmlAttributes = new
                                                                                                             {
                                                                                                                 @class = "form-control",
                                                                                                                 maxlength = 50
                                                                                                             }
                                                                                        })
                @Html.ValidationMessageFor(model => model.FileVersionFieldName)
            </div>
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SystemFieldName, htmlAttributes:new
                                                                          {
                                                                              @class = "control-label col-md-3"
                                                                          })

            <div class="col-md-7">
                @Html.TextBoxFor(model => model.SystemFieldNameDisplayText, htmlAttributes:new
                                                                                           {
                                                                                               @class = "form-control",
                                                                                               disabled = "disabled"
                                                                                           })
                @Html.ValidationMessageFor(model => model.SystemFieldName)
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes:new
                                                                      {
                                                                          @class = "control-label col-md-3"
                                                                      })

            <div class="col-md-7">
                @Html.TextAreaFor(model => model.Description, htmlAttributes:new
                                                                             {
                                                                                 @class = "form-control",
                                                                                 rows = 5,
                                                                                 maxlength = 500
                                                                             })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsSystemRequired, htmlAttributes:new
                                                                           {
                                                                               @class = "control-label col-md-3"
                                                                           })

            <div class="col-md-7">
                @Html.CheckBoxFor(model => model.IsSystemRequired, htmlAttributes:new
                                                                                  {
                                                                                      disabled = "disabled"
                                                                                  })
                @Html.ValidationMessageFor(model => model.IsSystemRequired)
            </div>
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.DataOptionalityName, htmlAttributes:new
                                                                              {
                                                                                  @class = "control-label col-md-3"
                                                                              })
            <div class="col-md-7">

                @Html.DropDownListFor(model => model.DataOptionalityName,
                    selectList:Model.AvailableResultQualifierValidValues,
                    htmlAttributes:new
                                   {
                                       @class = "form-control"
                                   })
                @Html.ValidationMessageFor(model => model.DataOptionalityName)

            </div>
        </div>
    </div>
    <div class="col-md-12">
        @*<div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsIncluded, htmlAttributes:new
                                                                     {
                                                                         @class = "control-label col-md-3"
                                                                     })

            <div class="col-md-7">
                @Html.CheckBoxFor(model => model.IsIncluded)
                @Html.ValidationMessageFor(model => model.IsIncluded)
            </div>
        </div>*@
    </div>
</section>
<section class="box-footer form-horizontal" style="width: 97%;">
    <div>
        <a id="linkShowAditionalConfiguration" href="#" onclick="showAditionalConfiguration()">Show Aditional Configuration</a>
    </div>
    <div class="col-md-12" name="sampleImportAditionalConfiguration">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.DataFormatName, htmlAttributes:new
                                                                         {
                                                                             @class = "control-label col-md-3"
                                                                         })

            <div class="col-md-7">
                @Html.TextBoxFor(model => model.DataFormatDescription, htmlAttributes:new
                                                                                      {
                                                                                          @class = "form-control",
                                                                                          disabled = "disabled"
                                                                                      })
                @Html.ValidationMessageFor(model => model.DataFormatName)
            </div>
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Size, htmlAttributes:new
                                                               {
                                                                   @class = "control-label col-md-3"
                                                               })

            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Size, htmlAttributes:new
                                                                     {
                                                                         @class = "form-control",
                                                                         @readonly = "readonly"
                                                                     })
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>
    </div>
    <div class="col-md-12" name="sampleImportAditionalConfiguration">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.ExampleData, htmlAttributes:new
                                                                      {
                                                                          @class = "control-label col-md-3"
                                                                      })

            <div class="col-md-7">
                @Html.TextAreaFor(model => model.ExampleData, htmlAttributes:new
                                                                             {
                                                                                 @class = "form-control",
                                                                                 rows = 5,
                                                                                 maxlength = 500
                                                                             })
                @Html.ValidationMessageFor(model => model.ExampleData)
            </div>
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.AdditionalComments, htmlAttributes:new
                                                                             {
                                                                                 @class = "control-label col-md-3"
                                                                             })

            <div class="col-md-7">
                @Html.TextAreaFor(model => model.AdditionalComments, htmlAttributes:new
                                                                                    {
                                                                                        @class = "form-control",
                                                                                        rows = 5,
                                                                                        maxlength = 500
                                                                                    })
                @Html.ValidationMessageFor(model => model.AdditionalComments)
            </div>
        </div>
    </div>
    
</section>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document)
        .ready(function() {
            if ($("#IsSystemRequired").is(":checked")) {
                $("#IsIncluded").prop("disabled", true);

                $("option[value='@((int) DataOptionalityName.Optional)']").remove();
            }

            var columnNames = [
                '@(SampleImportColumnName.MonitoringPoint.ToString())',
                '@(SampleImportColumnName.SampleType.ToString())',
                '@(SampleImportColumnName.CollectionMethod.ToString())'
            ];

            if ($.inArray($("#SystemFieldNameDisplayText").val(), columnNames) === -1) {
                $("option[value='@((int) DataOptionalityName.Recommended)']").remove();
            }

            $('#FileVersionFieldName')
                .on('change', function(evt) {
                    try {
                        $('#FileVersionFieldName').closest("form").valid();

                    } catch (e) {}
                });

            $("[name='sampleImportAditionalConfiguration']").hide();
        });

    function showAditionalConfiguration() {
        $("[name='sampleImportAditionalConfiguration']").show();
        $("#linkShowAditionalConfiguration").hide();
    }
</script>