@model Linko.LinkoExchange.Web.ViewModels.ReportPackage.NewReportPackageViewModel
@{
    ViewBag.Title = "New Report Package";
}

@using (Html.BeginForm(actionName:null, controllerName:null, method:FormMethod.Post, htmlAttributes:new {id = "LinkoExchangeForm"}))
{
    @Html.AntiForgeryToken()

    <section>
        <ol class="breadcrumb">
            <li>
                <a href="#" onclick="location.href = '@Url.Action(actionName:"Index", controllerName:ViewBag.PortalName.ToLower().Equals(value:"authority") ? "Authority" : "Industry")'"><i class=""></i> Home </a>
            </li>
            <li class="active">New Report Package</li>
        </ol>
    </section>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Report Package</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body box-collapse collapse form-horizontal in">

            @Html.ValidationSummary(excludePropertyErrors:false, message:Message.ValidationSummaryHeaderText, htmlAttributes:new {@class = "alert alert-danger"})

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label(expression:"Select Report Package Template", htmlAttributes:new
                                                                                            {
                                                                                                @class = "control-label col-md-2 required"
                                                                                            })
                </div>
                <div class="col-md-12">
                    @if (Model.AllReportPackageTemplates.Count > 0)
                    {
                        foreach (var m in Model.AllReportPackageTemplates)
                        {
                            <div class="col-md-12 form-group">
                                <label class="col-md-offset-2">
                                    @Html.RadioButtonFor(model => model.SelectedReportPackageTemplateId, value:m.Id)

                                    <span>@m.Name</span>
                                    @if (!m.Description.IsEmpty())
                                    {
                                        <span class="text-info"> - @m.Description</span>
                                    }
                                </label>
                            </div>
                        }
                    }
                    else
                    {
                        <br />
                        <div class="col-md-12 form-group">
                            <span class="col-md-offset-2">No report package templates exist for your Industry.</span>
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    <!-- Date range -->
                    @Html.Label(expression:"Enter Report Period", htmlAttributes:new
                                                                                 {
                                                                                     @class = "control-label col-md-2"
                                                                                 })
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDateTimeLocal, htmlAttributes:new
                                                                                         {
                                                                                             @class = "control-label col-md-2 required"
                                                                                         })
                        <div class="col-md-4">
                            @(Html.Kendo().DatePickerFor(model => model.StartDateTimeLocal)
                                  .Max(date: DateTime.Today)
                                  .Format(format:"MM/dd/yyyy")
                                  .HtmlAttributes(attributes:new
                                                             {
                                                                 style = "width:210px;"
                                                             }))
                        </div>

                        @Html.LabelFor(model => model.EndDateTimeLocal, htmlAttributes:new
                                                                                       {
                                                                                           @class = "control-label col-md-2 required"
                                                                                       })
                        <div class="col-md-4">
                            @(Html.Kendo().DatePickerFor(model => model.EndDateTimeLocal)
                                  .Max(date: DateTime.Today)
                                  .Format(format:"MM/dd/yyyy")
                                  .HtmlAttributes(attributes:new
                                  {
                                      style = "width:210px;"
                                  }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.AllReportPackageTemplates.Count > 0)
        {
            <div class="box-footer">
                <div class="col-md-12 form-group">
                    <input type="submit" value="Create Draft" class="btn btn-primary btn-sm pull-right" formaction="@Url.Action(actionName:"NewReportPackage", controllerName:"ReportPackage")" formmethod="post" />
                </div>
            </div>
        }
    </div>

    @section Scripts {
        <script type="text/javascript">
            $("#StartDateTimeLocal")
                .change(function()
                {
                    $("#EndDateTimeLocal").val($("#StartDateTimeLocal").val().replace("12:00 am", ""));
                });
        </script>
    }
}