@model Linko.LinkoExchange.Web.ViewModels.Industry.NewSampleStep1ViewModel
@{
    ViewBag.Title = "New Sample";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>
        <ol class="breadcrumb">
            <li>
                <a href="#" onclick="location.href = '@Url.Action(actionName:"Index", controllerName:"Industry")'"><i class=""></i> Home </a>
            </li>
            <li class="active">New Sample</li>
        </ol>
    </section>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Sample</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body box-collapse collapse form-horizontal in">
            <div class="form-group">
                <div class="col-md-12">
                    <strong>Select Monitoring Point</strong>
                </div>
                <div class="col-md-12">
                    @foreach (var m in Model.AllMonitoringPoints)
                        {
                            <div class="col-md-12 form-group">
                                <label class="col-md-offset-2">
                                    @Html.RadioButtonFor(model => model.SelectedMonitoringPointId, value:m.Id)

                                    <span>@m.Name</span>
                                    @if (!m.Description.IsEmpty())
                                    {
                                        <span class="text-info"> - @m.Description</span>
                                    }
                                </label>
                            </div>
                        }
                </div>

                <div class="col-md-12">
                    <!-- Date range -->
                    <strong>Enter Sample Period</strong>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="startDateTime">* Start Date:</label>
                        <div class="col-md-4">
                            @(Html.Kendo().DateTimePicker()
                                  .Name(componentName: "StartDateTimeLocal")
                                  .Value(date:DateTime.Now)
                                  .Format(format:"MM/dd/yyyy hh:mm:ss tt")
                                  .HtmlAttributes(attributes:new
                                  {
                                      style = "width:210px;"
                                  }))
                        </div>

                        <label class="col-md-2 control-label" for="endDateTime">* End Date:</label>
                        <div class="col-md-4">
                            @(Html.Kendo().DateTimePicker()
                                  .Name(componentName: "EndDateTimeLocal")
                                  .Value(date:DateTime.Now)
                                  .Format(format:"MM/dd/yyyy hh:mm:ss tt")
                                  .HtmlAttributes(attributes:new
                                  {
                                      style = "width:210px;"
                                  }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-12 form-group">
                <input type="submit" value="Create Draft" class="btn btn-primary btn-sm pull-right" formaction="@Url.Action(actionName:"NewSampleDetailsStep1", controllerName:"Industry")" formmethod="post" />
            </div>
        </div><!-- box-footer -->
    </div>
}