@model Linko.LinkoExchange.Web.ViewModels.Industry.NewSampleStep1ViewModel
@{
    ViewBag.Title = "New Sample";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>
        <ol class="breadcrumb">
            <li>
                <a href="#" onclick="location.href = '@Url.Action(actionName: "Index", controllerName: "Industry")'"><i class=""></i> Home </a>
            </li>
            <li class="active">New Sample</li>
        </ol>
    </section>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Sample</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body box-collapse collapse form-horizontal in">

            @Html.ValidationSummary(excludePropertyErrors: false, message: Message.ValidationSummaryHeaderText, htmlAttributes: new {@class = "alert alert-danger"})

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label(expression: "Select Monitoring Point", htmlAttributes: new
                                                                                       {
                                                                                           @class = "control-label col-md-2 required"
                                                                                       })
                </div>
                <div class="col-md-12">
                    @foreach (var m in Model.AllMonitoringPoints)
                    {
                        <div class="col-md-12 form-group">
                            <label class="col-md-offset-2">
                                @Html.RadioButtonFor(model => model.SelectedMonitoringPointId, value: m.Id)

                                <span>@m.Name</span>
                                @if (!m.Description.IsEmpty())
                                {
                                    <span class="text-info"> - @m.Description</span>
                                }
                            </label>
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    <!-- Date range -->
                    @Html.Label(expression: "Enter Sample Period", htmlAttributes: new
                                                                                   {
                                                                                       @class = "control-label col-md-2"
                                                                                   })
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDateTimeLocal, htmlAttributes: new
                                                                                          {
                                                                                              @class = "control-label col-md-2 required"
                                                                                          })
                        <div class="col-md-4">
                            @(Html.Kendo().DateTimePickerFor(model => model.StartDateTimeLocal)
                                  .Max(date: DateTime.Now)
                                  .Format(format: "MM/dd/yyyy hh:mm tt")
                                  .HtmlAttributes(attributes: new
                                                              {
                                                                  style = "width:210px;"
                                                              }))
                        </div>

                        @Html.LabelFor(model => model.EndDateTimeLocal, htmlAttributes: new
                                                                                        {
                                                                                            @class = "control-label col-md-2 required"
                                                                                        })
                        <div class="col-md-4">
                            @(Html.Kendo().DateTimePickerFor(model => model.EndDateTimeLocal)
                                  .Max(date: DateTime.Now)
                                  .Format(format: "MM/dd/yyyy hh:mm tt")
                                  .HtmlAttributes(attributes: new
                                                              {
                                                                  style = "width:210px;"
                                                              }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-12 form-group">
                <input type="submit" value="Next" class="btn btn-primary btn-sm pull-right" formaction="@Url.Action(actionName: "NewSampleDetailsStep1", controllerName: "Industry")" formmethod="post" />
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/inputmask")

    <script>
        $(document)
            .ready(function()
            {
                $("#StartDateTimeLocal")
                    .inputmask({
                        alias: 'mm/dd/yyyy hh:mm xm'
                        , mask: "1/2/y [h:s t\\m]"
                        , placeholder: "mm/dd/yyyy 00:00 am"
                        , greedy: false
                        , clearMaskOnLostFocus: false
                        , clearIncomplete: true
                    });
                $("#StartDateTimeLocal").val($("#StartDateTimeLocal").val().replace("12:00 am", ""));

                $("#EndDateTimeLocal")
                    .inputmask({
                        alias: 'mm/dd/yyyy hh:mm xm'
                        , mask: "1/2/y [h:s t\\m]"
                        , placeholder: "mm/dd/yyyy 00:00 am"
                        , greedy: false
                        , clearMaskOnLostFocus: false
                        , clearIncomplete: true
                    });
                $("#EndDateTimeLocal").val($("#EndDateTimeLocal").val().replace("12:00 am", ""));
            });

        $("#StartDateTimeLocal")
            .change(function()
            {
                $("#StartDateTimeLocal").val($("#StartDateTimeLocal").val().replace("12:00 am", ""));
                $("#EndDateTimeLocal").data("kendoDateTimePicker").value($("#StartDateTimeLocal").data("kendoDateTimePicker").value());
                $("#EndDateTimeLocal").val($("#EndDateTimeLocal").val().replace("12:00 am", ""));
            });

        $("#EndDateTimeLocal")
            .change(function()
            {
                $("#EndDateTimeLocal").val($("#EndDateTimeLocal").val().replace("12:00 am", ""));
            });
    </script>
}}