@model Linko.LinkoExchange.Web.ViewModels.Authority.AuthorityUserViewModel

@{
    ViewBag.Title = "User Details";
}

<section>
    <ol class="breadcrumb">
        <li><a href="#" onclick="location.href = '@Url.Action(actionName: "Index", controllerName: "Authority")'"><i class=""></i> Home </a></li>
        <li><a href="#" onclick="location.href = '@Url.Action(actionName: "AuthorityUsers", controllerName: "Authority")'"><i class=""></i> Users </a></li>
        <li class="active">User Details</li>
    </ol>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">User Information</h3>
            <div class="box-tools pull-right">
                <div class="pull-right">
                    @if (ViewBag.HasPermissionForUpdate)
                    {
                        <input type="submit" value="@Model.AccountLockedButtonText" class="btn btn-sm btn-primary" 
                               formaction="@Url.Action(actionName: "AuthorityUserLockUnLock", controllerName: "Authority")" formmethod="post" />
                        <input type="button" value="@Model.StatusButtonText" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#ChangeStatusModal" />
                        <input type="button" value="Remove" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#removeModal"/>
                        <input type="button" value="Reset" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#resetModal"/>   
                    }                
                </div>
            </div><!-- /.box-tools -->
        </div>  @*.box-header*@

        <section class="box-body form-horizontal">

            @Html.ValidationSummary(excludePropertyErrors: true, message: Message.ValidationSummaryHeaderText, htmlAttributes: new { @class = "alert alert-danger" })
            
            @if (ViewBag.ShowSuccessMessage!= null && ViewBag.ShowSuccessMessage)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5>
                        <i class="icon fa fa-check"></i>
                        @ViewBag.SuccessMessage
                    </h5>
                </div>
            }

            <div class="col-md-12 modal modal-info fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        <h4 class="box-title">Reset User Account</h4>

                        <section>
                            <p>
                                User will be required to re-register before they can log into LinkoExchange.
                                What email should be used for re-registration?
                            </p>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.ResetEmail, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    })

                                    @Html.ValidationMessageFor(model => model.ResetEmail, "", new { @class = "text-red" })
                                </div>
                            </div>
                        </section>
                        <div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-sm btn-primary"
                                            formaction="@Url.Action(actionName: "AuthorityUserReset", controllerName: "Authority")" formmethod="post">
                                        Reset
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 modal modal-info fade" id="ChangeStatusModal" tabindex="-1" role="dialog" aria-labelledby="ChangeStatusModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>

                        @if (@Model.Status)
                        {
                            <h4 class="box-title">Disable User?</h4>

                        }
                        else
                        {
                            <h4 class="box-title">Enable User?</h4>
                        }

                        <section>
                            <p>
                                @if (@Model.Status)
                                {
                                    <span>User will no longer be able to log into this portal.</span>
                                }
                                else
                                {
                                    <span>User will be able to log into this portal.</span>
                                }
                            </p>
                        </section>
                        <div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-sm btn-primary"
                                            formaction="@Url.Action(actionName: "AuthorityUserChangeStatus", controllerName: "Authority")" formmethod="post">
                                        Yes
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 modal modal-info fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        <h4 class="box-title">Remove User</h4>

                        <section>
                            <p>
                                User will need to be re-invited to log into this portal.
                            </p>
                        </section>
                        <div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-sm btn-primary"
                                            formaction="@Url.Action(actionName: "AuthorityUserRemove", controllerName: "Authority")" formmethod="post">
                                        Yes
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.PId)
            @Html.HiddenFor(model => model.ResetEmail)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FirstName, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>

                @Html.LabelFor(model => model.LastName, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.LastName, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.PhoneNumber, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>

                @Html.LabelFor(model => model.PhoneExt, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.PhoneExt, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Email, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>

                @Html.LabelFor(model => model.DateRegistered, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DateRegistered, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.StatusText, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                    @Html.HiddenFor(model => model.Status)
                </div>

                @Html.LabelFor(model => model.AccountLocked, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AccountLockedText, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                    @Html.HiddenFor(model => model.AccountLocked)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-4">
                    @Html.DropDownList("Role", Model.AvailableRoles, new { @class = "form-control" })
                </div>
            </div>

            <hr />

        </section>@*.box-body*@
        @if (ViewBag.HasPermissionForChangeRole)
        {
            <div class="box-footer">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-primary pull-right" 
                           formaction="@Url.Action(actionName: "AuthorityUserDetails", controllerName: "Authority")" formmethod="post" />
                </div>
            </div><!-- box-footer -->
        }
    </div><!-- /.box -->
	
    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Security Questions</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div><!-- /.box-tools -->
        </div>  @*.box-header*@
		 <section class="box-body form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SecurityQuestion1, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SecurityQuestion1, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Answer1, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Answer1, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecurityQuestion2, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SecurityQuestion2, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Answer2, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Answer2, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "readonly"
                        }
                    })
                </div>
            </div>
        </section>@*.box-body*@
    </div><!-- /.box -->
}

@section Scripts {
    @Scripts.Render(paths:"~/bundles/jqueryval")
}