@model Linko.LinkoExchange.Web.ViewModels.Shared.ReportPackageTemplateViewModel

@{
    ViewBag.Title = "Report Package Template";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>
        <ol class="breadcrumb">
            <li>
                <a href="#" onclick="location.href = '@Url.Action(actionName:"Index", controllerName:"Authority")'"><i class=""></i> Home </a>
            </li>
            <li>
                <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackageTemplates", controllerName:"Authority")'"><i class=""></i> Report Package Templates </a>
            </li>
            <li class="active">Details</li>
        </ol>
    </section>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                Report Details
            </h3>

            <div class="box-tools pull-right">
                @if (!ViewBag.Satus.Equals("ViewOnly"))
                {
                    if (!ViewBag.Satus.Equals("New"))
                    {
                        <input type="submit" value="Save" class="btn btn-primary btn-sm" formaction="@Url.Action(actionName:"ReportPackageTemplateDetails", controllerName:"Authority")" formmethod="post" />

                        <input class="btn btn-primary btn-sm" data-target="#DeleteReportPackageTemplateModal" data-toggle="modal" type="button" value="Delete" />
                    }
                    else
                    {
                        <input type="submit" value="Save" class="btn btn-primary btn-sm" formaction="@Url.Action(actionName:"NewReportPackageTemplateDetails", controllerName:"Authority")" formmethod="post" />
                    }
                }

                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <section class="box-body form-horizontal">
            @Html.ValidationSummary(excludePropertyErrors:true, message:Message.ValidationSummaryHeaderText, htmlAttributes:new
                                                                                                                            {
                                                                                                                                @class = "alert alert-danger"
                                                                                                                            })
            @if (ViewBag.ShowSuccessMessage != null && ViewBag.ShowSuccessMessage)
            {
                <div class="alert alert-dismissible alert-success">
                    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
                    <h5>
                        <i class="fa fa-check icon"></i>
                        @ViewBag.SuccessMessage
                    </h5>
                </div>
            }

            <div aria-labelledby="DeleteReportPackageTemplateModalLabel" class="col-md-12 fade modal modal-info" id="DeleteReportPackageTemplateModal" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="alert alert-dismissible alert-info modal-content">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="box-title">Delete Report Package Template</h4>

                        <div>
                            <p>
                                Deleting this Report Package Template will permanently remove it from the system and it will no longer be available to use by an Industry. Drafts and previously submitted Reports will not be affected.
                                Do you want to delete this Report Package Template?<br />
                            </p>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm" formaction="@Url.Action(actionName:"DeleteReportPackageTemplate", controllerName:"Authority", routeValues:new {id = Model.Id})" formmethod="post">
                                        Yes
                                    </button>
                                    <button aria-label="Close" class="btn btn-primary btn-sm" data-dismiss="modal" type="button">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
                @Html.LabelFor(model => model.Name, htmlAttributes:new
                                                                   {
                                                                       @class = "control-label col-md-2 required"
                                                                   })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, additionalViewData:new
                                                                            {
                                                                                htmlAttributes = new
                                                                                                 {
                                                                                                     @class = "form-control"
                                                                                                 }
                                                                            })
                    @Html.ValidationMessageFor(model => model.Name, validationMessage:"", htmlAttributes:new
                                                                                                         {
                                                                                                             @class = "text-danger"
                                                                                                         })
                </div>

                @Html.LabelFor(model => model.IsActive, htmlAttributes:new
                                                                       {
                                                                           @class = "control-label col-md-1"
                                                                       })
                <div class="col-md-1">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes:new
                                                                          {
                                                                              @class = "control-label col-md-2"
                                                                          })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Description, additionalViewData:new
                                                                                   {
                                                                                       htmlAttributes = new
                                                                                                        {
                                                                                                            @class = "form-control",
                                                                                                            rows = "3"
                                                                                                        }
                                                                                   })
                </div>
            </div>

            <hr />

            <div class="form-group">


                @Html.LabelFor(model => model.EffectiveDateTimeLocal, labelText:"When will the Industry start seeing and using this template ?"
                    , htmlAttributes:new
                                     {
                                         @class = "control-label col-md-6"
                                     })

                <div class="col-md-4">
                    @(Html.Kendo().DatePicker()
                          .Name(componentName:"dEffectiveDateTimeLocal")
                          .Value(date:Model.EffectiveDateTimeLocal)
                          .Format(format:"D")
                          .HtmlAttributes(attributes:new
                                                     {
                                                         style = "width:210px;"
                                                     }))

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CtsEventTypeId, labelText:"When the report package shows up in the LinkoCTS, what Event Type should it use?"
                    , htmlAttributes:new
                                     {
                                         @class = "control-label col-md-6"
                                     })

                <div class="col-md-4">
                    @Html.DropDownList(name:"CtsEventTypeId", selectList:Model.AvailableCtsEventTypes, htmlAttributes:new
                                                                                                                      {
                                                                                                                          @class = "form-control"
                                                                                                                      })

                    @Html.ValidationMessageFor(model => model.CtsEventTypeName, validationMessage:"", htmlAttributes:new
                                                                                                                     {
                                                                                                                         @class = "text-danger"
                                                                                                                     })
                </div>
            </div>
        </section>
    </div>

    /////////////////////////////////////    Attachment Types   ////////////////////////////////////////////

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Attachments</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body box-collapse collapse in">

            <div class="col-md-6">
                <h4 class="box-title">Available Attachment Types</h4>
                <table class="hover table table-bordered table-condensed table-responsive table-striped" id="availableAttachmentTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-center" style="width: 60px">Add</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var attachment in Model.AvailableAttachmentTypes)
                        {
                            <tr>
                                <td>@attachment.Id</td>
                                <td>@attachment.Name</td>
                                <td>@attachment.Description</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" id="btnAddAttachment" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h4 class="box-title">Selected Attachment Types</h4>

                <table class="table table-bordered table-condensed table-hover table-responsive table-striped" id="selectedAttachmentTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-center" style="width: 60px">Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var attachment in Model.AttachmentTypes)
                        {
                            <tr>
                                <td>@attachment.Id</td>
                                <td>@attachment.Name</td>
                                <td>@attachment.Description</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" id="btnRemoveAttachment" type="button">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @(Html.Kendo().Sortable()
                  .For(selector:"#selectedAttachmentTable")
                  .Filter(selector:"tbody > tr")
                  .Cursor(cursor:"move")
                  .HintHandler(handler:"noHint")
                  .PlaceholderHandler(handler:"placeholder")
                  .ContainerSelector(selector:"#selectedAttachmentTable tbody")
                  )
        </div>
    </div>

    /////////////////////////////////////    Certification Types   ////////////////////////////////////////////

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Certifications</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body box-collapse collapse in">

            <div class="col-md-6">
                <h4 class="box-title">Available Certification Types</h4>
                <table class="hover table table-bordered table-condensed table-responsive table-striped" id="availableCertificationTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-center" style="width: 60px">Add</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var certification in Model.AvailableCertificationTypes)
                        {
                            <tr>
                                <td>@certification.Id</td>
                                <td>@certification.Name</td>
                                <td>@certification.Description</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" id="btnAddCertification" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h4 class="box-title">Selected Certification Types</h4>

                <table class="table table-bordered table-condensed table-hover table-responsive table-striped" id="selectedCertificationTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-center" style="width: 60px">Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var certification in Model.CertificationTypes)
                        {
                            <tr>
                                <td>@certification.Id</td>
                                <td>@certification.Name</td>
                                <td>@certification.Description</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" id="btnRemoveCertification" type="button">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @(Html.Kendo().Sortable()
                  .For(selector:"#selectedCertificationTable")
                  .Filter(selector:"tbody > tr")
                  .Cursor(cursor:"move")
                  .HintHandler(handler:"noHint")
                  .PlaceholderHandler(handler:"placeholder")
                  .ContainerSelector(selector:"#selectedCertificationTable tbody")
                  )

        </div>
    </div>

    /////////////////////////////////////    Assign Industries   ////////////////////////////////////////////

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Assign Industries</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body box-collapse collapse in">

            <div class="col-md-6">
                <h4 class="box-title">Available Industries</h4>
                <table class="hover table table-bordered table-condensed table-responsive table-striped" id="availableIndustryTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Classification</th>
                            <th class="text-center" style="width: 60px">Add</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var industry in Model.AvailableReportPackageTemplateAssignments)
                        {
                            <tr>
                                <td>@industry.Id</td>
                                <td>@industry.IndustryNoText</td>
                                <td>@industry.IndustryName</td>
                                <td>@industry.Address</td>
                                <td>@industry.Classification</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" id="btnAddIndustry" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h4 class="box-title">Selected Industries</h4>

                <table class="table table-bordered table-condensed table-hover table-responsive table-striped" id="selectedIndustryTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Classification</th>
                            <th class="text-center" style="width: 60px">Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var industry in Model.ReportPackageTemplateAssignments)
                        {
                            <tr>
                                <td>@industry.Id</td>
                                <td>@industry.IndustryNoText</td>
                                <td>@industry.IndustryName</td>
                                <td>@industry.Address</td>
                                <td>@industry.Classification</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" id="btnRemoveIndustry" type="button">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

    <script>

        var noHint = $.noop;

        function placeholder(element)
        {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        }

        $(document)
            .ready(function()
            {
                $('#availableAttachmentTable')
                    .DataTable(
                        {
                            "columnDefs": [
                                { "searchable": true, "targets": [1, 2] }
                                , { "targets": [0], "visible": false, "searchable": false }
                                , {
                                    "defaultContent":
                                        "<button class='btn btn-primary btn-sm' id='btnAddAttachment'><i class='fa fa-plus'></i></button>"
                                    , "targets": 2
                                }
                            ]
                            , "ordering": true
                            , "order": [[1, 'asc']]
                            , "scrollY": "35vh"
                            , "scrollCollapse": true
                            , "paging": false
                            , "info": false
                            , "processing": true
                            , "stateSave": false
                            , "language": {
                                "search": ""
                                , "searchPlaceholder": "Search Attachment..."
                                , "zeroRecords": "No attachment available for selection."
                            }
                        }
                    );

                $('#selectedAttachmentTable')
                    .DataTable(
                        {
                            "columnDefs": [
                                { "searchable": true, "targets": [1, 2] }
                                , { "targets": [0], "visible": false, "searchable": false }
                                , {
                                    "defaultContent":
                                        "<button class='btn btn-danger btn-sm' id='btnRemoveAttachment'><i class='fa fa-minus'></i></button>"
                                    , "targets": 2
                                }
                            ]
                            , "ordering": true
                            , "order": [[1, 'asc']]
                            , "scrollY": "35vh"
                            , "scrollCollapse": true
                            , "paging": false
                            , "info": false
                            , "processing": true
                            , "stateSave": false
                            , "language": {
                                "search": ""
                                , "searchPlaceholder": "Search Attachment..."
                                , "zeroRecords": "No attachment selected."
                            }
                        }
                    );

                $('#availableCertificationTable')
                    .DataTable(
                        {
                            "columnDefs": [
                                { "searchable": true, "targets": [1, 2] }
                                , { "targets": [0], "visible": false, "searchable": false }
                                , {
                                    "defaultContent":
                                        "<button class='btn btn-primary btn-sm' id='btnAddCertification'><i class='fa fa-plus'></i></button>"
                                    , "targets": 2
                                }
                            ]
                            , "ordering": true
                            , "order": [[1, 'asc']]
                            , "scrollY": "35vh"
                            , "scrollCollapse": true
                            , "paging": false
                            , "info": false
                            , "processing": true
                            , "stateSave": false
                            , "language": {
                                "search": ""
                                , "searchPlaceholder": "Search Certification..."
                                , "zeroRecords": "No certification available for selection."
                            }
                        }
                    );

                $('#selectedCertificationTable')
                    .DataTable(
                        {
                            "columnDefs": [
                                { "searchable": true, "targets": [1, 2] }
                                , { "targets": [0], "visible": false, "searchable": false }
                                , {
                                    "defaultContent":
                                        "<button class='btn btn-danger btn-sm' id='btnRemoveCertification'><i class='fa fa-minus'></i></button>"
                                    , "targets": 2
                                }
                            ]
                            , "ordering": true
                            , "order": [[1, 'asc']]
                            , "scrollY": "35vh"
                            , "scrollCollapse": true
                            , "paging": false
                            , "info": false
                            , "processing": true
                            , "stateSave": false
                            , "language": {
                                "search": ""
                                , "searchPlaceholder": "Search Certification..."
                                , "zeroRecords": "No certification selected."
                            }
                        }
                    );

                $('#availableIndustryTable')
                    .DataTable(
                        {
                            "columnDefs": [
                                { "searchable": true, "targets": [1, 2, 3, 4] }
                                , { "targets": [0], "visible": false, "searchable": false }
                                , {
                                    "defaultContent":
                                        "<button class='btn btn-primary btn-sm' id='btnAddIndustry'><i class='fa fa-plus'></i></button>"
                                    , "targets": 2
                                }
                            ]
                            , "ordering": true
                            , "order": [[1, 'asc']]
                            , "scrollY": "35vh"
                            , "scrollCollapse": true
                            , "paging": false
                            , "info": false
                            , "processing": true
                            , "stateSave": false
                            , "language": {
                                "search": ""
                                , "searchPlaceholder": "Search Industry..."
                                , "zeroRecords": "No industry available for selection."
                            }
                        }
                    );

                $('#selectedIndustryTable')
                    .DataTable(
                        {
                            "columnDefs": [
                                { "searchable": true, "targets": [1, 2, 3, 4] }
                                , { "targets": [0], "visible": false, "searchable": false }
                                , {
                                    "defaultContent":
                                        "<button class='btn btn-danger btn-sm' id='btnRemoveIndustry'><i class='fa fa-minus'></i></button>"
                                    , "targets": 2
                                }
                            ]
                            , "ordering": true
                            , "order": [[1, 'asc']]
                            , "scrollY": "35vh"
                            , "scrollCollapse": true
                            , "paging": false
                            , "info": false
                            , "processing": true
                            , "stateSave": false
                            , "language": {
                                "search": ""
                                , "searchPlaceholder": "Search Industry..."
                                , "zeroRecords": "No industry selected."
                            }
                        }
                    );
            });

    </script>
}