@model Linko.LinkoExchange.Web.ViewModels.Account.ChangeEmailViewModel

@{
    ViewBag.Title = Label.ChangEmailAddress;
    ViewBag.Description = "";
}

<section>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="location.href = '@Url.Action(actionName:"Index", controllerName:"Home")'"><i class=""></i> Home </a>
        </li>
        <li>
            <a href="#" onclick="location.href = '@Url.Action(actionName:"UserProfile", controllerName:"User")'"><i class=""></i> Profile </a>
        </li>

        <li class="active">Change Email</li>
    </ol>
</section>

<div class="col-lg-7 col-lg-offset-2 col-md-8 col-md-offset-2">
    <div>
        <h1 class="h3">@ViewBag.SubTitle</h1>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">@Label.ChangEmailAddress</h4>
        </div>
        <section class="box-body" id="Form1">
            @using (Html.BeginForm(actionName:"ChangeEmail", controllerName:"Account", method:FormMethod.Post, htmlAttributes:new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(excludePropertyErrors:true, message:Message.ValidationSummaryHeaderText, htmlAttributes:new {@class = "alert alert-danger"})

                <div class="form-group">
                    @Html.LabelFor(m => m.OldEmail, htmlAttributes:new {@class = "col-md-3 required control-label"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.OldEmail, htmlAttributes:new
                                                                         {
                                                                             @class = "form-control",
                                                                             @readonly = "readonly"
                                                                         })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NewEmail, htmlAttributes:new {@class = "col-md-3 required control-label"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.NewEmail, htmlAttributes:new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.NewEmail, validationMessage:"", htmlAttributes:new {@class = "text-red"})
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-primary" value="@Label.ChangEmailAddress" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render(paths:"~/bundles/jqueryval")
}