@using Linko.LinkoExchange.Web.ViewModels.Account

@model ForgotPasswordViewModel

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.SubTitle = Label.TitleForgotPassword;
}

<div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-7">
    <div>
        <h1 class="h3">@ViewBag.SubTitle</h1>
    </div>

    <div class="box box-primary">
        <section id="Form1" class="box-body">
            <div class="form-group">
                <span>@Label.BoxTitleForgotPassword</span>
            </div>

            @using (Html.BeginForm(actionName: "ForgotPassword", controllerName: "Account", method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(excludePropertyErrors: true, message: Message.ValidationSummaryHeaderText, htmlAttributes: new { @class = "alert alert-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 required control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-red" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-primary" value="@Label.ButtonSend" />
                        <input type="button" onclick="location.href='@Url.Action(actionName: "SignIn", controllerName: "Account")'" value="@Label.ButtonCancel" title="Cancel" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>@*.box-body*@
    </div>
</div>

@section Scripts {
    @Scripts.Render(paths: "~/bundles/jqueryval")
}
