@model Linko.LinkoExchange.Web.ViewModels.Account.KbqChallengeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Label.TitleKBQChanllenge;
    ViewBag.Description = "";
}

<section>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="location.href = '@Url.Action(actionName:"Index", controllerName:"Home")'"><i class=""></i> Home </a>
        </li>
        <li>
            <a href="#" onclick="location.href = '@Url.Action(actionName:"UserProfile", controllerName:"User")'"><i class=""></i> Profile </a>
        </li>

        <li class="active">KBQ</li>
    </ol>
</section>

<div class="col-lg-7 col-lg-offset-2 col-md-8 col-md-offset-2">
    <div>
        <h1 class="h3">@ViewBag.SubTitle</h1>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">@Label.TitleKBQChanllenge</h4>
        </div>
        <section class="box-body" id="Form1">
            @using (Html.BeginForm(actionName:"KbqChallenge", controllerName:"Account", method:FormMethod.Post, routeValues:new {ViewBag.returnUrl}, htmlAttributes:new {@class = "form-horizontal", role = "form", id = "LinkoExchangeForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(excludePropertyErrors:true, message:Message.ValidationSummaryHeaderText, htmlAttributes:new {@class = "alert alert-danger"})
                @Html.HiddenFor(model => model.FailedCount)

                <div class="form-group">
                    @Html.LabelFor(m => m.Question, htmlAttributes:new {@class = "col-md-3 control-label"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Question, htmlAttributes:new
                                                                         {
                                                                             @class = "form-control",
                                                                             @readonly = "readonly"
                                                                         })

                        @Html.HiddenFor(m => m.QuestionAnswerId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Answer, htmlAttributes:new {@class = "col-md-3 required control-label"})
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Answer, htmlAttributes:new {@class = "form-control", autocomplete = "off"})
                        @Html.ValidationMessageFor(m => m.Answer, validationMessage:"", htmlAttributes:new {@class = "text-red"})
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render(paths: "~/bundles/jqueryval")

    <script>
                $(document)
                    .keypress(function (evt) {
                        if (evt.which === 13) {
                            $("#LinkoExchangeForm").submit();
                        }
                    });
    </script>
}