@model Linko.LinkoExchange.Web.ViewModels.Account.PortalDirectorViewModel

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.SubTitle = "You have rights to multiple locations, please select one:";
}

<div class="col-lg-7 col-lg-offset-2 col-md-8 col-md-offset-2">
    <div>
        <h1 class="h3">@ViewBag.SubTitle</h1>
    </div>

    @Html.ValidationSummary(excludePropertyErrors:true, message:"", htmlAttributes:new {@class = "alert alert-danger"})

    @if (Model.Authorities.Any())
    {
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Label.BoxTitleSelectAuthority</h3>
            </div>
            <section class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var item in Model.Authorities)
                    {
                        <li>
                            @Ajax.ActionLink(linkText:item.Text, actionName:"PortalDirector", controllerName:"Account"
                                , routeValues:new { id = item.Value }
                                , ajaxOptions:new AjaxOptions {HttpMethod = "POST", OnSuccess = "OnAjaxSuccess"})
                        </li>
                    }
                </ul>
            </section>
        </div>
    }

    @if (Model.Industries.Any())
    {
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Label.BoxTitleSelectIndustry</h3>
            </div>
            <section class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var item in Model.Industries)
                    {
                        <li>
                            @Ajax.ActionLink(linkText:item.Text, actionName:"PortalDirector", controllerName:"Account"
                                , routeValues:new {id = item.Value}
                                , ajaxOptions:new AjaxOptions {HttpMethod = "POST", OnSuccess = "OnAjaxSuccess"})
                        </li>
                    }
                </ul>
            </section>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render(paths:"~/bundles/jqueryval")
    <script type="text/javascript">
        OnAjaxSuccess = function(data)
        {
            setTimeout(function()
                {
                    if (data.redirect)
                    {
                        window.location.replace(data.newurl);
                    }
                }
                , 500);
        }
    </script>
}