@model Linko.LinkoExchange.Web.ViewModels.Account.ResetPasswordViewModel
@using Linko.LinkoExchange.Core.Resources

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.SubTitle = Label.TitleResetPassword;
}


<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div>
        <h1 class="h3">@ViewBag.SubTitle</h1>
    </div>
    <div class="box box-primary">
        <section id="ResetPasswordForm" class="box-body">

            @using(Html.BeginForm(actionName: "ResetPassword", controllerName: "Account", method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(excludePropertyErrors: true, message: "", htmlAttributes: new { @class = "alert alert-danger" })
                @Html.HiddenFor(model => model.Token)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <div class="col-md-12">
                        Passwords must be at least 6 characters, have at least one digit ('0'-'9'),
                        and have at least one lowercase ('a'-'z') and one uppercase ('A'-'Z') letter.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>To reset your password, confirm your identity by answering this question:</h4>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Answer, Model.Question, new { @class = "col-md-5 control-label" })

                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Answer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Answer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, new {  @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })

                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-primary" value="@Label.ButtonResetPassword" />
                    </div>
                </div>
            }
        </section>@*.box-body*@
    </div>
</div>

@section Scripts {
    @Scripts.Render(paths: "~/bundles/jqueryval")
}
