@model Linko.LinkoExchange.Web.ViewModels.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.SubTitle = Label.TitleResetPassword;
    var PostedToAction = ViewBag.PostedToAction as string;
}

<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
    <div>
        <h1 class="h3">@ViewBag.SubTitle</h1>
    </div>
    <div class="box box-primary">
        <section class="box-body" id="ResetPasswordForm">

            @using (Html.BeginForm(actionName:PostedToAction, controllerName:"Account", method:FormMethod.Post, htmlAttributes:new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(excludePropertyErrors:true, message:Message.ValidationSummaryHeaderText, htmlAttributes:new {@class = "alert alert-danger"})

                <div>
                    @if (ViewBag.InvalidMessages != null && ViewBag.InvalidMessages.Any())
                    {
                        <div class="alert alert-danger validation-summary-errors">
                            <ul>
                                @foreach (var message in ViewBag.InvalidMessages)
                                {
                                    <li>@message</li>
                                }
                            </ul>
                        </div>
                    }
                </div>

                @Html.HiddenFor(model => model.Token)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserProfileId)
                @Html.HiddenFor(model => model.OwinUserId)
                @Html.HiddenFor(model => model.FailedCount)
                <div class="form-group">
                    <div class="col-md-12">
                        Passwords must be at least 8 characters, have at least one digit ('0'-'9'),
                        and have at least one lowercase ('a'-'z') and one uppercase ('A'-'Z') letter.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="font-size: 12px; line-height: 17px">
                        @ViewBag.ReminderMessage To reset your password, confirm your identity by answering this question:
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Answer, labelText:Model.Question, htmlAttributes:new {@class = "col-md-5 control-label"})
                    @Html.HiddenFor(model => model.Question)

                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Answer, htmlAttributes:new {@class = "form-control", autocomplete = "off"})
                        @Html.ValidationMessageFor(m => m.Answer, validationMessage:"", htmlAttributes:new {@class = "text-red"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, htmlAttributes:new {@class = "col-md-5 control-label"})
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, htmlAttributes:new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password, validationMessage:"", htmlAttributes:new {@class = "text-red"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes:new {@class = "col-md-5 control-label"})

                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes:new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, validationMessage:"", htmlAttributes:new {@class = "text-red"})
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-primary" value="@Label.ButtonResetPassword" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render(paths:"~/bundles/jqueryval")
}