@model Linko.LinkoExchange.Web.ViewModels.SignInViewModel
@using Linko.LinkoExchange.Core.Resources

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.SubTitle = Label.TitleLinkoExchangeSignIn;
}

<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-5">
    <div>
        <h1 class="h2">@ViewBag.SubTitle</h1>
    </div>
    <div class="box box-default">
        @*<div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>*@<!-- /.box-header -->
        <section id="SignInForm" class="box-body">
            @using (Html.BeginForm(actionName: "SignIn", controllerName: "Account", routeValues: new { ReturnUrl = ViewBag.ReturnUrl }, method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger box box-info" })

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "autofocus", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4 col-sm-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" value="@Label.ButtonSignIn" class="btn .btn-sm btn-primary pull-right" />
                    </div>
                </div>
            }
        </section><!-- /.box-body -->
        <div class="box-footer">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.ActionLink(linkText: @Label.ForgotUserName, actionName: "ForgotUser")
                    <span class="col-xs-offset-1">
                    </span>
                    @Html.ActionLink(linkText: @Label.ForgotPassword, actionName: "ForgotPassword")
                </div>
            </div>
        </div><!-- box-footer -->
    </div><!-- /.box -->
</div>

@section Scripts {
    @Scripts.Render(paths: "~/bundles/jqueryval")
}
