@model List<Linko.LinkoExchange.Core.Domain.FileStore>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeByte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportElementTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportElementTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationRegulatoryProgramId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDateTimeUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploaderUserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeByte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportElementTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportElementTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationRegulatoryProgramId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDateTimeUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploaderUserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FileStoreId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FileStoreId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FileStoreId })
            </td>
        </tr>
    }

</table>
