@model IEnumerable<Linko.LinkoExchange.Services.Dto.FileStoreDto>

@{
    ViewBag.Title = "FileStores";
}

<h2>FileStores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileStoreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeByte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportElementTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportElementTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationRegulatoryProgramId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalizaedUploaDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploaderUserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileStoreId)
            </td>
            <td>
                @Html.ActionLink(item.Name, "Download", new { id = item.FileStoreId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeByte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportElementTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportElementTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationRegulatoryProgramId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalizaedUploaDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploaderUserId)
            </td>
        </tr>
    }

</table>
