@model Linko.LinkoExchange.Web.ViewModels.Attachment.AttachmentModel

<div>
    @using (Html.BeginForm("Create", "Attachment", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <h4>Student</h4>
            <hr />

            <div class="form-group">
                @Html.Label("Files", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="report" name="upload" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OriginFileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OriginFileName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AttachmentTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AttachmentTypeName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="submitBtn" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
