@using System.Web.Configuration
<header class="main-header">
    @if (Request.IsAuthenticated)
    {
        @* BEGIN Logo *@
        <a href="@Url.Action(actionName:"Index", controllerName:"Home")" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <img title="LinkoExchange Logo" alt="LinkoExchange Logo" src="@Url.Content(contentPath:"/Content/images/" + WebConfigurationManager.AppSettings[name:"FileName_Logo-min"])" width="35" height="35" />
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                <img title="LinkoExchange Logo" alt="LinkoExchange Logo" src="@Url.Content(contentPath:"/Content/images/" + WebConfigurationManager.AppSettings[name:"FileName_Logo"])" width="150" height="35" />
            </span>
        </a>
        @* END Logo *@

        @* BEGIN Header *@
        <nav class="navbar navbar-static-top" role="navigation">
            <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <span class="navbar-brand">
                @if (!string.IsNullOrWhiteSpace(value:ViewBag.PortalName))
                {
                    <span>@string.Format(format:"{0} Portal", arg0:ViewBag.PortalName)</span>
                }
            </span>
            @if (!string.IsNullOrWhiteSpace(value:ViewBag.OrganizationName))
            {
                <span class="navbar-brand">-</span>
                <span class="navbar-brand">
                    @ViewBag.OrganizationName
                </span>
            }
            <div class="navbar-custom-menu">
                @using (Html.BeginForm(actionName:"SignOut", controllerName:"Account", method:FormMethod.Post, htmlAttributes:new
                                                                                                                              {
                                                                                                                                  id = "formSignOut",
                                                                                                                                  @class = "navbar-right"
                                                                                                                              }))
                {
                    <ul class="nav navbar-nav">
                        @* BEGIN User Account Menu *@
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs">
                                    @if (!string.IsNullOrWhiteSpace(value:ViewBag.UserName))
                                    {
                                        @ViewBag.UserName
                                    }
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">

                                            @if (!string.IsNullOrWhiteSpace(value:ViewBag.UserName))
                                            {
                                                @ViewBag.UserName
                                            }
                                        </div>
                                        <div class="col-xs-12 text-center">
                                            <small>
                                                @if (!string.IsNullOrWhiteSpace(value:ViewBag.UserRole))
                                                {
                                                    @ViewBag.UserRole
                                                }
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    @if (ViewBag.PortalName != null && !string.IsNullOrWhiteSpace(value:ViewBag.PortalName))
                                    {
                                        <div class="pull-left">
                                            <a href="#" onclick="location.href = '@Url.Action(actionName:"UserProfile", controllerName:"User")'" class="btn btn-primary btn-sm">@Label.ButtonProfile </a>
                                        </div>
                                    }
                                    <div class="pull-right">
                                        <a href="#" onclick="location.href = '@Url.Action(actionName:"SignOut", controllerName:"Account")'" class="btn btn-primary btn-sm">@Label.ButtonSignOut</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        @* END User Account Menu *@
                        @* BEGIN Control Sidebar Toggle Button *@
                        @* Keep the following line so that user Account menu does not push to right side edge of the screen *@
                        <li>
                            <a href="#">&nbsp;</a>
                        </li>
                        @* END Control Sidebar Toggle Button *@
                    </ul>
                }
            </div>
        </nav>
    }
    else
    {
        <div class="hidden-xs logo">&nbsp;</div>
        <nav class="navbar navbar-static-top" role="navigation">
            @* BEGIN Logo *@
            <span class="logo">
                <a href="@Url.Action(actionName:"Index", controllerName:"Home")">
                    <img title="LinkoExchange Logo" alt="LinkoExchange Logo" src="@Url.Content(contentPath:"/Content/images/" + WebConfigurationManager.AppSettings[name:"FileName_Logo"])" width="150" height="35" />
                </a>
            </span>
            @* END Logo *@
        </nav>
    }
</header>