@using Linko.LinkoExchange.Core.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        @if(!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }

        @Label.LinkoExchange
    </title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render(paths: "~/Bundles/font-awesome")
    @Styles.Render(paths: "~/Bundles/icheck")
    @Styles.Render(paths: "~/Bundles/css")

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @*<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->*@
    @Scripts.Render(paths: "~/bundles/jquery")

    @* Telerik scripts *@

	<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.dataviz.blueopal.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content(contentPath: "~/Scripts/kendo.modernizr.custom.js")"></script>
    @RenderSection("head", required: false)
</head>
<body class="hold-transition skin-blue-light fixed">
    <div class="wrapper">
        @Html.Partial(partialViewName: "_Header")

        @if(Request.IsAuthenticated && (ViewBag.PortalName != null))
        {
            @Html.Partial(partialViewName: "_Sidebar")
        }

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title <small>@ViewBag.Description</small>
                </h1>
            </section>
            <section class="content"> @RenderBody() </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.6
            </div>
            <strong>
                Copyright &copy; @DateTime.Now.Year - <a href="#" target="_blank">@Label.LinkoExchange</a>.
            </strong> All rights reserved.
        </footer>
    </div>

    @*<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>*@
    @Scripts.Render(paths: "~/Bundles/js")
    @RenderSection(name: "scripts", required: false)

    @if(Request.IsAuthenticated && (ViewBag.PortalName != null))
    {
        <script type="text/javascript">
            $('body').addClass('sidebar-mini');
        </script>
    }
    else
    {
        <script type="text/javascript">
            $('body').removeClass('sidebar-mini').addClass('sidebar-collapse');
        </script>
    }
</body>
</html>