@using Linko.LinkoExchange.Core.Enum
@if (Request.IsAuthenticated && ViewBag.PortalName != null && ViewBag.PortalName.ToLower().Equals(value:"authority"))
{
    <aside class="main-sidebar">
        <section class="sidebar">
            @* BEGIN Menu *@
            <ul class="sidebar-menu">
                <li class="@Html.IsActive(actions:"Industries,IndustryDetails,IndustryUsers,IndustryUserDetails,IndustryUserUpdateSignatoryStatus,IndustryUserLockUnLock,IndustryUserReset", controllers:"Authority")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"Industries", controllerName:"Authority")'">
                        <i class="fa fa-fw fa-industry"></i>
                        <span>Industries</span>
                    </a>
                </li>

                <li class="treeview @Html.IsActive(actions:"ReportPackages,ReportPackageDetails", controllers:"ReportPackage")">
                    <a href="#">
                        <i class="fa fa-fw glyphicon glyphicon-duplicate"></i>
                        <span>Report Packages</span>
                        <span class="pull-right-container">
                            @if (ViewBag.ReportPackageCount_SubmittedPendingReview != null && ViewBag.ReportPackageCount_SubmittedPendingReview > 0)
                            {
                                <span class="bg-purple label">@ViewBag.ReportPackageCount_SubmittedPendingReview</span>
                            }
                            @if (ViewBag.ReportPackageCount_RepudiatedPendingReview != null && ViewBag.ReportPackageCount_RepudiatedPendingReview > 0)
                            {
                                <span class="bg-red label">@ViewBag.ReportPackageCount_RepudiatedPendingReview</span>
                            }
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"ReportPackages", controllers:"ReportPackage", routeValueTag:"reportStatus:" + ReportStatusName.SubmittedPendingReview)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackages", controllerName:"ReportPackage", routeValues:new {reportStatus = ReportStatusName.SubmittedPendingReview})'">
                                <i class="fa fa-fw"></i>
                                <span>Pending Review</span>
                                @if (ViewBag.ReportPackageCount_SubmittedPendingReview != null && ViewBag.ReportPackageCount_SubmittedPendingReview > 0)
                                {
                                    <span class="pull-right-container">
                                        <span class="bg-purple label">@ViewBag.ReportPackageCount_SubmittedPendingReview</span>
                                    </span>
                                }
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"ReportPackages", controllers:"ReportPackage", routeValueTag:"reportStatus:" + ReportStatusName.RepudiatedPendingReview)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackages", controllerName:"ReportPackage", routeValues:new {reportStatus = ReportStatusName.RepudiatedPendingReview})'">
                                <i class="fa fa-fw"></i>
                                <span>New Repudiations</span>
                                @if (ViewBag.ReportPackageCount_RepudiatedPendingReview != null && ViewBag.ReportPackageCount_RepudiatedPendingReview > 0)
                                {
                                    <span class="pull-right-container">
                                        <span class="bg-red label">@ViewBag.ReportPackageCount_RepudiatedPendingReview</span>
                                    </span>
                                }
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"ReportPackages", controllers:"ReportPackage", routeValueTag:"reportStatus:" + ReportStatusName.All)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackages", controllerName:"ReportPackage", routeValues:new {reportStatus = ReportStatusName.All})'">
                                <i class="fa fa-fw"></i>
                                <span>All</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="@Html.IsActive(actions:"PendingUserApprovals,PendingUserApprovalDetails", controllers:"Authority")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"PendingUserApprovals", controllerName:"Authority")'">
                        <i class="fa fa-fw fa-user-plus"></i>
                        <span>Pending Registrations</span>
                        @if (ViewBag.PendingRegistrationProgramUsersCount != null && ViewBag.PendingRegistrationProgramUsersCount > 0)
                        {
                            <span class="pull-right-container">
                                <span class="label label-info">@ViewBag.PendingRegistrationProgramUsersCount</span>
                            </span>
                        }
                    </a>
                </li>

                <li class="@Html.IsActive(actions:"AuditLogs", controllers:"Authority")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"AuditLogs", controllerName:"Authority")'">
                        <i class="fa fa-file-text fa-fw"></i>
                        <span>Audit Logs</span>
                    </a>
                </li>

                <li class="treeview @Html.IsActive(actions:"ReportPackageTemplates,NewReportPackageTemplateDetails,ReportPackageTemplateDetails,ReportElementTypes,NewReportElementTypeDetails,ReportElementTypeDetails,ParameterGroups,ParameterGroupDetails", controllers:"Authority")">
                    <a href="#">
                        <i class="fa fa-fw glyphicon glyphicon-duplicate"></i>
                        <span>Report Settings</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"ReportPackageTemplates,NewReportPackageTemplateDetails,ReportPackageTemplateDetails", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackageTemplates", controllerName:"Authority")'">
                                <i class="fa fa-fw"></i>
                                <span>Templates</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"ReportElementTypes,NewReportElementTypeDetails,ReportElementTypeDetails", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportElementTypes", controllerName:"Authority")'">
                                <i class="fa fa-fw"></i>
                                <span>Report Elements</span>
                            </a>
                            @*<ul class="treeview-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-fw"></i>
                                        <span>Certifications</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-fw"></i>
                                        <span>Attachments</span>
                                    </a>
                                </li>
                            </ul>*@
                        </li>
                        <li class="@Html.IsActive(actions:"ParameterGroups,ParameterGroupDetails", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ParameterGroups", controllerName:"Authority")'">
                                <i class="fa fa-fw"></i>
                                <span>Parameter Groups</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview @Html.IsActive(actions:"AuthorityUsers,AuthorityUserDetails,AuthorityUserLockUnLock,AuthorityUserChangeStatus,AuthorityUserRemove,AuthorityUserReset,Settings", controllers:"Authority")">
                    <a href="#">
                        <i class="fa fa-bank fa-fw"></i>
                        <span>Authority Account</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"AuthorityUsers,AuthorityUserDetails,AuthorityUserLockUnLock,AuthorityUserChangeStatus,AuthorityUserRemove,AuthorityUserReset", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"AuthorityUsers", controllerName:"Authority")'">
                                <i class="fa fa-fw fa-users"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"Settings", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"Settings", controllerName:"Authority")'">
                                <i class="fa fa-cog fa-fw"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            @* END Menu *@
        </section>
    </aside>
    <!-- The sidebar's background -->
}

else if (Request.IsAuthenticated && ViewBag.PortalName != null && ViewBag.PortalName.ToLower().Equals(value:"industry"))
{
    <aside class="main-sidebar">
        <section class="sidebar">
            @* BEGIN Menu *@
            <ul class="sidebar-menu">
                <li class="treeview @Html.IsActive(actions:"Samples,SampleDetails", controllers:"Industry")">
                    <a href="#">
                        <i class="fa fa-fw fa-th-list"></i>
                        <span>Samples</span>
                        <span class="pull-right-container">
                            @if (ViewBag.SampleCount_Draft != null && ViewBag.SampleCount_Draft > 0)
                            {
                                <span class="bg-yellow label">@ViewBag.SampleCount_Draft</span>
                            }
                            @if (ViewBag.SampleCount_ReadyToReport != null && ViewBag.SampleCount_ReadyToReport > 0)
                            {
                                <span class="bg-green-active label">@ViewBag.SampleCount_ReadyToReport</span>
                            }
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"Samples", controllers:"Industry", routeValueTag:"sampleStatus:" + SampleStatusName.Draft)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"Samples", controllerName:"Industry", routeValues:new {sampleStatus = SampleStatusName.Draft})'">
                                <i class="fa fa-fw"></i>
                                <span>Draft</span>
                                <span class="pull-right-container">
                                    @if (ViewBag.SampleCount_Draft != null && ViewBag.SampleCount_Draft > 0)
                                    {
                                        <span class="bg-yellow label">@ViewBag.SampleCount_Draft</span>
                                    }
                                </span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"Samples", controllers:"Industry", routeValueTag:"sampleStatus:" + SampleStatusName.ReadyToReport)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"Samples", controllerName:"Industry", routeValues:new {sampleStatus = SampleStatusName.ReadyToReport})'">
                                <i class="fa fa-fw"></i>
                                <span>Ready to Report</span>
                                <span class="pull-right-container">
                                    @if (ViewBag.SampleCount_ReadyToReport != null && ViewBag.SampleCount_ReadyToReport > 0)
                                    {
                                        <span class="bg-green-active label">@ViewBag.SampleCount_ReadyToReport</span>
                                    }
                                </span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"Samples", controllers:"Industry", routeValueTag:"sampleStatus:" + SampleStatusName.Reported)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"Samples", controllerName:"Industry", routeValues:new {sampleStatus = SampleStatusName.Reported})'">
                                <i class="fa fa-fw"></i>
                                <span>Reported</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview @Html.IsActive(actions:"ReportPackages,ReportPackageDetails", controllers:"ReportPackage")">
                    <a href="#">
                        <i class="fa fa-fw glyphicon glyphicon-duplicate"></i>
                        <span>Report Packages</span>
                        <span class="pull-right-container">
                            @if (ViewBag.ReportPackageCount_Draft != null && ViewBag.ReportPackageCount_Draft > 0)
                            {
                                <span class="bg-yellow label">@ViewBag.ReportPackageCount_Draft</span>
                            }
                            @if (ViewBag.ReportPackageCount_ReadyToSubmit != null && ViewBag.ReportPackageCount_ReadyToSubmit > 0)
                            {
                                <span class="bg-green-active label">@ViewBag.ReportPackageCount_ReadyToSubmit</span>
                            }
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"ReportPackages", controllers:"ReportPackage", routeValueTag:"reportStatus:" + ReportStatusName.Draft)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackages", controllerName:"ReportPackage", routeValues:new {reportStatus = ReportStatusName.Draft})'">
                                <i class="fa fa-fw"></i>
                                <span>Draft</span>
                                @if (ViewBag.ReportPackageCount_Draft != null && ViewBag.ReportPackageCount_Draft > 0)
                                {
                                    <span class="pull-right-container">
                                        <span class="bg-yellow label">@ViewBag.ReportPackageCount_Draft</span>
                                    </span>
                                }
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"ReportPackages", controllers:"ReportPackage", routeValueTag:"reportStatus:" + ReportStatusName.ReadyToSubmit)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackages", controllerName:"ReportPackage", routeValues:new {reportStatus = ReportStatusName.ReadyToSubmit})'">
                                <i class="fa fa-fw"></i>
                                <span>Ready to Submit</span>
                                @if (ViewBag.ReportPackageCount_ReadyToSubmit != null && ViewBag.ReportPackageCount_ReadyToSubmit > 0)
                                {
                                    <span class="pull-right-container">
                                        <span class="bg-green-active label">@ViewBag.ReportPackageCount_ReadyToSubmit</span>
                                    </span>
                                }
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"ReportPackages", controllers:"ReportPackage", routeValueTag:"reportStatus:" + ReportStatusName.Submitted)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackages", controllerName:"ReportPackage", routeValues:new {reportStatus = ReportStatusName.Submitted})'">
                                <i class="fa fa-fw"></i>
                                <span>Submitted</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"ReportPackages", controllers:"ReportPackage", routeValueTag:"reportStatus:" + ReportStatusName.Repudiated)">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackages", controllerName:"ReportPackage", routeValues:new {reportStatus = ReportStatusName.Repudiated})'">
                                <i class="fa fa-fw"></i>
                                <span>Repudiated</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="@Html.IsActive(actions:"Attachments,NewAttachmentDetails,AttachmentDetails", controllers:"Industry")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"Attachments", controllerName:"Industry")'">
                        <i class="fa fa-file-text fa-fw"></i>
                        <span>Attachments</span>
                    </a>
                </li>

                <li class="treeview @Html.IsActive(actions:"IndustryUsers,IndustryUserDetails,IndustryUserRemove,IndustryUserChangeStatus,Settings,PendingUserApprovals,PendingUserApprovalDetails", controllers:"Industry")">
                    <a href="#">
                        <i class="fa fa-bank fa-fw"></i>
                        <span>Industry Account</span>
                        @if (ViewBag.PendingRegistrationProgramUsersCount != null && ViewBag.PendingRegistrationProgramUsersCount > 0)
                        {
                            <span class="pull-right-container">
                                <span class="label label-info">@ViewBag.PendingRegistrationProgramUsersCount</span>
                            </span>
                        }
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"IndustryUsers,IndustryUserDetails,IndustryUserRemove,IndustryUserChangeStatus", controllers:"Industry")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"IndustryUsers", controllerName:"Industry")'">
                                <i class="fa fa-fw fa-users"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"Settings", controllers:"Industry")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"Settings", controllerName:"Industry")'">
                                <i class="fa fa-cog fa-fw"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"PendingUserApprovals,PendingUserApprovalDetails", controllers:"Industry")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"PendingUserApprovals", controllerName:"Industry")'">
                                <i class="fa fa-fw fa-user-plus"></i>
                                <span>Pending Registrations</span>

                                @if (ViewBag.PendingRegistrationProgramUsersCount != null && ViewBag.PendingRegistrationProgramUsersCount > 0)
                                {
                                    <span class="pull-right-container">
                                        <span class="label label-info pull-right">@ViewBag.PendingRegistrationProgramUsersCount</span>
                                    </span>
                                }
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            @* END Menu *@
        </section>
    </aside>
    <!-- The sidebar's background -->
}