@if (Request.IsAuthenticated && ViewBag.PortalName != null && ViewBag.PortalName.ToLower().Equals(value:"authority"))
{
    <aside class="main-sidebar">
        <section class="sidebar">
            @* BEGIN Menu *@
            <ul class="sidebar-menu">
                <li class="@Html.IsActive(actions:"Industries,IndustryDetails,IndustryUsers,IndustryUserDetails,IndustryUserUpdateSignatoryStatus,IndustryUserLockUnLock,IndustryUserReset", controllers:"Authority")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"Industries", controllerName:"Authority")'">
                        <i class="fa fa-fw fa-industry"></i>
                        <span>Industries</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-fw glyphicon glyphicon-duplicate"></i>
                        <span>Report Packages</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>Pending Review</span>
                                @*<span class="pull-right-container">
                                <span class="label label-success pull-right">2</span>
                            </span>*@
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>New Repudiations</span>
                                @*<span class="pull-right-container">
                                <span class="label label-danger pull-right">1</span>
                            </span>*@
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>All</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="@Html.IsActive(actions:"PendingUserApprovals,PendingUserApprovalDetails", controllers:"Authority")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"PendingUserApprovals", controllerName:"Authority")'">
                        <i class="fa fa-fw fa-user-plus"></i>
                        <span>Pending Registrations</span>
                    </a>
                </li>

                <li class="@Html.IsActive(actions:"AuditLogs", controllers:"Authority")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"AuditLogs", controllerName:"Authority")'">
                        <i class="fa fa-file-text fa-fw"></i>
                        <span>Audit Logs</span>
                    </a>
                </li>

                <li class="treeview @Html.IsActive(actions:"ReportPackageTemplates,NewReportPackageTemplateDetails,ReportPackageTemplateDetails,ReportElementTypes,NewReportElementTypeDetails,ReportElementTypeDetails,ParameterGroups,ParameterGroupDetails", controllers:"Authority")">
                    <a href="#">
                        <i class="fa fa-fw glyphicon glyphicon-duplicate"></i>
                        <span>Report Settings</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"ReportPackageTemplates,NewReportPackageTemplateDetails,ReportPackageTemplateDetails", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportPackageTemplates", controllerName:"Authority")'">
                                <i class="fa fa-fw"></i>
                                <span>Templates</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"ReportElementTypes,NewReportElementTypeDetails,ReportElementTypeDetails", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ReportElementTypes", controllerName:"Authority")'">
                                <i class="fa fa-fw"></i>
                                <span>Report Elements</span>
                            </a>
                            @*<ul class="treeview-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-fw"></i>
                                        <span>Certifications</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-fw"></i>
                                        <span>Attachments</span>
                                    </a>
                                </li>
                            </ul>*@
                        </li>
                        <li class="@Html.IsActive(actions:"ParameterGroups,ParameterGroupDetails", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"ParameterGroups", controllerName:"Authority")'">
                                <i class="fa fa-fw"></i>
                                <span>Parameter Groups</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview @Html.IsActive(actions:"AuthorityUsers,AuthorityUserDetails,AuthorityUserLockUnLock,AuthorityUserChangeStatus,AuthorityUserRemove,AuthorityUserReset,Settings", controllers:"Authority")">
                    <a href="#">
                        <i class="fa fa-bank fa-fw"></i>
                        <span>Authority Account</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"AuthorityUsers,AuthorityUserDetails,AuthorityUserLockUnLock,AuthorityUserChangeStatus,AuthorityUserRemove,AuthorityUserReset", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"AuthorityUsers", controllerName:"Authority")'">
                                <i class="fa fa-fw fa-users"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"Settings", controllers:"Authority")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"Settings", controllerName:"Authority")'">
                                <i class="fa fa-cog fa-fw"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            @* END Menu *@
        </section>
    </aside>
    <!-- The sidebar's background -->
}

else if (Request.IsAuthenticated && ViewBag.PortalName != null && ViewBag.PortalName.ToLower().Equals(value:"industry"))
{
    <aside class="main-sidebar">
        <section class="sidebar">
            @* BEGIN Menu *@
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-fw fa-th-list"></i>
                        <span>Samples</span>
                        @*<span class="pull-right-container">
                            <span class="label bg-orange pull-right">2</span>
                        </span>*@
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>Drafts</span>
                                @*<span class="pull-right-container">
                                    <span class="label bg-orange pull-right">2</span>
                                </span>*@
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>Reported</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-fw glyphicon glyphicon-duplicate"></i>
                        <span>Report Packages</span>
                        @*<span class="pull-right-container">
                            <span class="label bg-orange pull-right">2</span>
                            <span class="label label-success pull-right">1</span>
                        </span>*@
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>Drafts</span>
                                @*<span class="pull-right-container">
                                        <span class="label label-success pull-right">2</span>
                                    </span>*@
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>Ready to Submit</span>
                                @*<span class="pull-right-container">
                                        <span class="label label-danger pull-right">1</span>
                                    </span>*@
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>Submitted</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw"></i>
                                <span>Repudiated</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="@Html.IsActive(actions:"Attachments,AttachmentDetails", controllers:"Industry")">
                    <a href="#" onclick="location.href = '@Url.Action(actionName:"Attachments", controllerName:"Industry")'">
                        <i class="fa fa-file-text fa-fw"></i>
                        <span>Attachments</span>
                    </a>
                </li>

                <li class="treeview @Html.IsActive(actions:"IndustryUsers,IndustryUserDetails,IndustryUserRemove,IndustryUserChangeStatus,Settings,PendingUserApprovals,PendingUserApprovalDetails", controllers: "Industry")">
                    <a href="#">
                        <i class="fa fa-bank fa-fw"></i>
                        <span>Industry Account</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsActive(actions:"IndustryUsers,IndustryUserDetails,IndustryUserRemove,IndustryUserChangeStatus", controllers:"Industry")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"IndustryUsers", controllerName:"Industry")'">
                                <i class="fa fa-fw fa-users"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"Settings", controllers:"Industry")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"Settings", controllerName:"Industry")'">
                                <i class="fa fa-cog fa-fw"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="@Html.IsActive(actions:"PendingUserApprovals,PendingUserApprovalDetails", controllers:"Industry")">
                            <a href="#" onclick="location.href = '@Url.Action(actionName:"PendingUserApprovals", controllerName:"Industry")'">
                                <i class="fa fa-fw fa-user-plus"></i>
                                <span>Pending Registrations</span>
                                @*<span class="pull-right-container">
                                    <span class="label bg-primary pull-right">1</span>
                                </span>*@
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            @* END Menu *@
        </section>
    </aside>
    <!-- The sidebar's background -->
}